<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Edit">Create Post</a>
        @if (User.Identity.IsAuthenticated) {
            <a asp-controller="Auth" asp-action="SignOut">Sign Out</a>
        } else {
            <a asp-controller="Auth" asp-action="SignIn">Sign In</a>
        }
    </nav>
    <div>@RenderBody()</div>
</body>

</html>