@model Post

<div>
    <form asp-controller="Home" asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden" />
        <div>
            <label>Title</label>
            @* The asp-for attr lets you bind your input data into your model *@
            <input asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            @* The asp-for attr lets you bind your input data into your model *@
            <input asp-for="Body" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>