@model IEnumerable<Post>

<h1>Hello!</h1>

<img src="~/content/static/jason-hawke-gduUBwIc4j4-unsplash.jpg" height="300" />

<section>
    <h3>Blog Posts</h3>
    <ul>
        @foreach (var post in Model) {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</section>