@model Post

<h1>@Model.Title</h1>

@if (Model.Image != "Error" && !String.IsNullOrEmpty(Model.Image)) {
    var imagePath = $"/Image/{Model.Image}";
    <img src="@imagePath" height="500"/>
}

<article>
    @Html.Raw(Model.Body)
</article>