@model PostViewModel

<link rel="stylesheet" href="~/lib/Trumbowyg-main/dist/ui/trumbowyg.min.css">

@if(Model.Id > 0) {
    <h1>Edit Post</h1>
} else {
    <h1>Create New Post</h1>
}

<div>
    @* enctype="multipart/form-data" attr allows you to submit your form with files in it *@
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <label>Title</label>
            @* The asp-for attr lets you bind your input data into your model *@
            <input asp-for="Title" />
        </div>
        <div>
            <label>Body</label>
            @* The asp-for attr lets you bind your input data into your model *@
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        @if(Model.Id > 0 && Model.CurrentImage != "Error" && !String.IsNullOrEmpty(Model.CurrentImage)) {
            <div>
                <img src="/Image/@Model.CurrentImage" height="100"/>
                <br />
                <label>Current Image @Model.CurrentImage</label>
            </div>
        }
        <div>
            <label>Image</label>
            @* The asp-for attr lets you bind your input data into your model *@
            <input asp-for="Image" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>

@section scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script>
}